
*.dll

*.exe

Tax Calculator/bin/Debug/net8.0-windows/

Tax Calculator/obj/Debug/net8.0-windows/

Tax Calculator/obj/Tax Calculator.csproj.nuget.dgspec.json

*.props

*.targets

.vs/Tax Calculator/v17/.suo

.vs/Tax Calculator/DesignTimeBuild/.dtbcache.v2

*.vsidx

*.json

*.p7s

*.png

packages/MSTest.TestAdapter.2.2.10/MSTest.TestAdapter.2.2.10.nupkg

*.xml

packages/MSTest.TestFramework.2.2.10/MSTest.TestFramework.2.2.10.nupkg

TaxCalculatorUnitTests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs

*.cache

*.bin

TaxCalculatorUnitTests/obj/Debug/net8.0-windows/

.vs/Tax Calculator/v17/

TaxCalculatorUnitTests/bin/Debug/net8.0-windows/
